<h1>All Posts</h1>
<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to post.title, post %>
        <div class="pull-right">
        	<%= post.created_at %>
        </div>
      </h4>
    </div>
  </div>
<% end %>